

.form-select {
    width: auto;
}


#app_header{
    background-color: #029E74;
}
#app_header h2{
    font-style: italic;
}
#app_main{
    background-color: #4A0D52;
}
#app_footer{
    background-color: #029E74;
}
#grid {
    width: 40%;
}

.form_dark, .btn_dark, .btn_dark:hover{
    background-color: black;
    color: white;
    border : none;
    box-shadow: none;
}
.square{
    background-color: #D10EEB;
    border: solid 1px rgba(26, 22, 4, 0.941) ;
    color: black;
    aspect-ratio: 1;
}
.square_easy{
    width: calc(100% / 10);
}
.square_medium{
    width: calc(100% / 9);
}
.square_difficult{
    width: calc(100% / 7);
}
.square_bomb{
    background-color: black;
}
.clicked{
    background-color:#EBB826;
}

